html{
    background-color: #4682BA;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #87CEFA;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 400;
}
h2 {
    font-weight: 200;
    font-size: large;
}
h3{
    font-family: 'Montserrat', sans-serif;
    text-align: left;  
}
p {
    float: right;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    
}
#navbar {
    overflow: hidden;
    background-color: #D8BFD8;
}
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#navbar a:hover{
    background-color: #4682BA;
    color: #87CEFA;
}
#container{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
#imageHobbies-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}
footer{
    position: fixed;
    bottom: 0;
}
td p {
    background-color: #D8BFD8;
    font-size: 20px;
    border: 8px solid #87CEFA;
}
td {
    font-size: 18px;
}
#image-gallery img {
    border: 8px solid #87CEFA;
}
#imageAbout-gallery img {
    border: 8px solid #87CEFA;
}
#imageHobbies-gallery img {
    border: 8px solid #87CEFA;
}

